<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Dream Cloud virtual_machine_add</title>
</head>

<body>
    <header>
        <div class = "container-fluid">
            <div class = "row">
                <div class = "col-8">
                    <h1>Welcome to
                        <br>
                        Dream Cloud
                    </h1>
                </div>
                <div class = "col-sm">
                    <div class ="user">
                        <form>
                            <h5>Username
                            <br>
                            Role
                            <br>
                            <a href="index.html">Home</a><h5>
                        </form>
                    </div>
                </div>
            </div>
            <div class = "cloudline"></div>
        </div>
    </header>

    <main>
            <div class = "row">
                    <div class = "col-3">
                        <ul>
                            <li><a href="main.html">Resources</a></li>
                            <br>
                            <li><a href="vmpage.html">Virtual Machines</a></li>
                            <br>
                            <li><a href="dbpage.html">Databases(SQL)</a></li>
                            <br>
                            <li><a href="blobstorage.html">Blob Storage</a></li>
                            <br>
                            <li><a href="vn.html">Virtual Networks</a></li>
                            <br>
                            <li><a href="appe.html">App Environments</a></li>
                        </ul>
                    </div>
                    <div class = "col-7">
                        <nav id="main">
                            <p id="titlebox">Create a Virtual Machine</p>
                        </nav>
                        <nav id="cont_r">
                            <div class="row">
                                <div class="col-4">
                                    <form action="/" method="POST">
                                        <div class = "addordel">
                                            <p>Name<input type = "text" name = "vmname" id= "addvmname"></p>
                                            <p id="createbutton"><input type = "submit" id = "addvm" value="Create"></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </nav>
                    </div>
            </div>
    
            <nav>
                    
            </nav>
    
        </main>
<body>


                                  

</body>
</html>